<div class="index_main">
  <h1> <%= t ".title5" %> </h1>
  <table class="list_session">
	  <tr>
	    <th><%= t ".date" %></th>
	    <th><%= t ".sub" %></th>
	    <th><%= t ".id" %></th>
	    <th><%= t ".supervisor" %></th>
	    <th><%= t ".start" %></th></th>
	  </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td class="button">
	    	<button>Start</button>
	    </td>
	    </tr>
	  <tr>
	  	<td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td class="button">
	      <button>Start</button>	
	     </td>
	  </tr>
	  <tr>
	  	<td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td class="button">
	    	<button>Start</button>
		</td>
	  </tr>
	  <tr>
	   	<td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td class="button">
	    	<button>Start</button>
	    </td>
	   </tr>
	</table>
 </div>