<div class="container">
  <div class="panel-heading">
    <div class="panel-title text-center">
      <% provide :title, t(".log_in") %>
      <h1 class="form-heading"><%= t ".log_in" %></h1>
      <hr />
    </div>
  </div>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2><%= t ".Admin_Login" %></h2>
      </div>
      <%= form_for :session, url: login_path do |f| %>
        <%= f.label :user_name, t(".user") %>
        <%= f.text_field :user_name, class: "form-control" %>
        <br>
        <%= f.label :password, t(".password") %>
        <%= f.password_field :password, class: "form-control" %>
        <br>
      <div class="forgot">
        <a href="reset.html"><%= t ".forgot"%></a>
      </div>
      <%= f.submit t(".login"), class: "btn btn-primary" %>
      <% end %>
      <br>
      <p> <%= t ".newuser" %> <%= link_to t(".signup"), signup_path %></p>
    </div>
  </div>
</div>
