<div id="LoginForm">
  <div class="container">
    <h1 class="form-heading"><%= t ".login_Form" %></h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2><%= t ".Admin_Login" %></h2>
          <p><%= t ".Please" %></p>
        </div>
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :user_name %>
            <%= f.text_field :user_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="forgot">
            <a href="reset.html"><%= t ".Forgot_password?"%></a>
          </div>
          <%= f.submit t(".log_in"), class: "btn btn-primary" %>
        <% end %>
        </div>
        <p> <%= t ".newuser" %> <%= link_to t(".signup"), signup_path %></p>
        <p><%= t ".language" %><%= link_to t(" .english "), locale: "en" %><%= link_to t(" .vietnam  "), locale: "vi" %></p>
        <p class="botto-text"> <%= t ".Designed_by" %></p>
      </div>
    </div>
  </div>
</div>
