<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnam"), locale: "vi" %>
<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <% provide :title, t(".sign_up") %>
        <h1><%= t ".sign_up" %></h1>
        <hr />
      </div>
    </div>
    <div class="main-login main-center" name="user">
      <% if flash[:success].present? %>
      <span class="label label-info"><%= flash[:success] %></span>
      <% end %>
      <% if flash[:error].present? %>
      <span class="label label-danger"><%= flash[:error] %></span>
    <% end %>
    <%= form_for @user,url: signup_path do |f| %>
      <%= render "shared/error_messages" %>
      <div class="form-group">
        <%= f.label t(".Enter_your_Email") ,class: "cols-sm-2 control-label" %>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t(".Enter_your_Username"), class: "cols-sm-2 control-label" %>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <%= f.text_field :user_name, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t(".Enter_your_Password"),class: "cols-sm-2 control-label" %>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm" class="cols-sm-2 control-label"><%= f.label t(".Confirm_your_Password"), class: "cols-sm-2 control-label"%>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <%= f.password_field :password_confirmation, class: "form-control"%>
          </div>
        </div>
      </div>
      <div class="form-group ">
        <%= f.submit t(".Register"), class: "btn btn-primary btn-lg btn-block signup-button" %>
      </div>
      <div class="login-register">
        <p><%= link_to t(".Login") , login_path %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
