<div class="container">
  <div class="panel-heading">
    <div class="panel-title text-center">
      <% provide :title, t(".sign_up") %>
      <h1 class="form-heading"><%= t ".sign_up" %></h1>
      <hr />
    </div>
  </div>
  <div class="main-div" name="user">
    <%= form_for @user, url: signup_path do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label :email, t(".enter_email") %>
      <%= f.email_field :email, class: "form-control" %>
      <br>
      <%= f.label :user_name, t(".enter_username") %>
      <%= f.text_field :user_name, class: "form-control" %>
      <br>
      <%= f.label :password, t(".enter_password") %>
      <%= f.password_field :password, class: "form-control" %>
      <br>
      <%= f.label :password_confirmation, t(".confirm") %>
      <%= f.password_field :password_confirmation, class: "form-control"%>
      <br>
      <%= f.submit t(".create"), class: "btn btn-primary" %>
    <% end %>
    <br>
    <p> <%= t ".olduser" %> <%= link_to t(".login"), login_path %></p>
  </div>
</div>
